.contacts-list {
    display: flex;
    margin-left: auto;

&__item + &__item {
    margin-left: 50px;
}

&__link {
    color: $text-secondary;
    transition: color 250ms $animation;
}

&__link:hover {
    color: $blue-color;
}

&__link:hover .svg-header {
    fill: $blue-color;
}

.svg-header {
    margin-right: 10px;
    fill: $text-secondary;
    transition: color 250ms $animation;
}
}