.footer {
    background-color: $primary-background;
    padding: 60px 0;
}

.footer__content {
    padding: 0px;
}

.footer__content--centered {
    display: flex;
    align-items: center;
}

.footer__logo,
.address__map {
    color: $title-color;
    transition: color 250ms $animation;
}

.address__map:hover {
    color: $blue-color;
}

.address_link:hover {
    color: $blue-color;
}

.address__link:not(:first-child) {
    margin-top: 9px;
}