/* главная страница */

.main__section {
    padding: 200px 0;
    text-align: center;
    background-color: $primary-background;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/mainsection.jpg);
}

.main__title {
    margin: auto;
    width: 696px;

    color: var(--title-color);
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.main__section .main__button {
    padding: 10px 32px;
    margin-top: 30px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    background-color: $blue-color;

    color: $text-btn;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    transition: color 250ms var(--animation),
        background-color 250ms var(--animation);
}